/**
 * @file
 * Styles for breadcrumbs.
 */

@use "../base/variables" as v;

.breadcrumb {
  padding: v.$space-md v.$space-xl;
  background-color: v.$color-ith-blue-light;

  ol {
    margin: v.$space-0;
    padding: v.$space-0;

    [dir="rtl"] & {
      /* This is required to win over specificity of [dir="rtl"] ol */
      margin-right: 0;
    }
  }

  li {
    display: inline;
    margin: v.$space-0;
    padding: v.$space-0;
    list-style-type: none;

    &::before {
      content: " \BB ";
      margin-right: v.$space-sm;
    }

    &:first-child::before {
      content: none;
    }
  }
}
