/**
 * @file
 * Visual styles for pager.
 */

@use "../base/variables" as v;

.pager__items {
  clear: both;
  text-align: center;
}
.pager__item {
  display: inline;
  padding: v.$space-sm;
}
.pager__item.is-active {
  font-weight: bold;
}
