/**
 * @file
 * Visual styles for table drag.
 */

@use "../base/variables" as v;

tr.drag {
  background-color: #fffff0;
}
tr.drag-previous {
  background-color: #ffd;
}
body div.tabledrag-changed-warning {
  margin-bottom: v.$space-sm;
}
