/**
 * @file
 * Theme styling for user module.
 */

@use "../base/variables" as v;
@use "sass:color";

/* Visual styling for the Password strength indicator */
.password-strength__meter {
  margin-top: v.$space-sm;
  background-color: color.adjust(v.$color-neutral-100, $lightness: -3%);
}
.password-strength__indicator {
  -webkit-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
  background-color: #77b259;
}
.password-strength__indicator.is-weak {
  background-color: v.$color-red-600;
}
.password-strength__indicator.is-fair {
  background-color: v.$color-yellow-500;
}
.password-strength__indicator.is-good {
  background-color: color.adjust(v.$color-brand-primary, $lightness: 8%);
}
.password-strength__indicator.is-strong {
  background-color: #77b259;
}

.password-confirm,
.password-field,
.password-strength,
.password-confirm-match,
.password-confirm-message {
  width: v.$size-password-strength;
}

.password-suggestions {
  max-width: v.$size-password-suggestions;
  margin: v.$space-input-offset 0;
  padding: v.$space-2xs v.$space-sm;
  border: v.$border-width-sm solid v.$color-neutral-400;
}
.password-suggestions ul {
  margin-bottom: 0;
}

.confirm-parent,
.password-parent {
  clear: left; /* LTR */
  overflow: hidden;
  max-width: v.$size-password-parent;
  margin: v.$space-0;
}
[dir="rtl"] .confirm-parent,
[dir="rtl"] .password-parent {
  clear: right;
}

/* Styling for the status indicator of the passwords match test.  */
.password-confirm .ok {
  color: v.$text-color-success;
  font-weight: bold;
}
.password-confirm .error {
  color: v.$text-color-error-dark;
  font-weight: bold;
}
